.home-section {
    margin-top: 5rem;
    min-height: 450px;

    .home-title {
        color: black;
        text-align: center;
        padding-bottom: 1rem;
        font-weight: bold;
    }

    .caption{
        margin: 2.5rem 0rem;
        text-align: center;
        line-height: 2rem;
        h3{
            font-weight: 500;
        }
    }

    .sign {
        text-align: center;
        h2{
            font-weight: 600;
        }
    }
}
@media screen and (max-width: 768px) {
    .home-section{
        margin-top: 2.5rem;
        .sign{
            h2{
                font-size: 1.25rem;
            }
        }
    }
}
