.success-message{
    position: fixed;
    background-color: #4ee44e;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.75rem;
    bottom: 0.75rem;
    right: 0.75rem;
}